.navbar-brand_ {
	margin: 44px auto 40px;
}

header {
	background: url(../img/waffle.png);
}

.menuheader {
	background-color: #323335;
}

.tm_navbar .nav li a:hover, .tm_navbar .nav > li.active > a, .tm_navbar .nav > li.active > a:hover, .nav > .active > a, .tm_navbar .nav > .active > a:hover, .tm_navbar .nav > .active > a:focus {
	color: #A7B0D8;
}

.box1 {
	background-color: #EB5368;
}
.box2 {
	background-color: #D97B88;
}
.box3 {
	background-color: #EB5368;
}

.btn-link, span {
	color: #606dbc;
}

.title4 {
	text-align: center;
}

.footerpriv a {
	text-transform: none;
}

.myStory {
	color: #3F3B3B;
}

/*begin css for gallery*/
@media (min-width: 768px) {
	#filters li a {
		font-size: 16px;
	}
}
